<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="../static/files/style/navigation-components.css">
    <link rel="stylesheet" href="../static/files/style/contact.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.css">

    <script src="../static/files/scripts/script.js"></script>
</head>
<body>
    <section class="hero-section">
        <img src="../static/files/assets/th (8).jpg" alt="">
        <div class="container nav-overlay">
            <div class="header">
                <div class="logo">
                    <h2><span>CH</span>support</h2>
                    <p>Changing the lives of orphans</p>
                </div>
                <nav class="navbar" id="sideNav">
                    <div class="primary-nav">
                        <div class="info">
                            <i class="fa fa-envelope"></i>
                            <p>chsupport.org@gmail.com</p>
                        </div>
                        <div class="info">
                            <i class="fa fa-phone"></i>
                            <p>+254 712-345-678</p>
                        </div>
                        <button>Donate now</button>
                    </div>
                    <div class="secondary-nav">
                        <div class="nav-links">
                            <a href="#" class="active">Home</a>
                            <a href="./templates/about.html">About</a>
                            <a href="#">How to help</a>
                            <a href="#">Options</a>
                            <a href="#">Service</a>
                            <a href="./templates/contact.html">Contact us</a>
                        </div>
                        <div class="socials">
                            <a href="#" class="fa-brands fa-instagram"></a>
                            <a href="#" class="fa-brands fa-twitter"></a>
                            <a href="#" class="fa-brands fa-facebook"></a>
                            <a href="#" class="fa-brands fa-youtube"></a></div>
                    </div>
                    <span class="navClose" onclick="closeNav()">&times</span>
                </nav>
                <span class="openNav" onclick="openNav()">&#9776</span>
            </div>
            <div class="slider">
                <h2>Contact us</h2>
                <p>Home/ Contact us</p>
            </div>
        </div>
    </section>
    <section class="card-container">
        <div class="container">
            <div class="card">
                <span class="fa fa-graduation-cap"></span>
                <h2>Education Sponsorship</h2>
                <p>Sit amet consectetur adipisicing elit. Atque ipsum laboriosam natus nisi tenetur magni.</p>
                <a href="#">Chsupport.org</a>
            </div>
            <div class="card">
                <span class="fa fa-graduation-cap"></span>
                <h2>Education Sponsorship</h2>
                <p>Amet consectetur adipisicing elit. Atque ipsum laboriosam natus nisi tenetur magni.</p>
                <a href="#">Chsupport.org</a>
            </div>
            <div class="card">
                <span class="fa fa-graduation-cap"></span>
                <h2>Education Sponsorship</h2>
                <p>Lorem ipsum dolor, sit amet .Atque ipsum laboriosam natus nisi tenetur magni.</p>
                <a href="#">Chsupport.org</a>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="contact-row">
                <form action="#" method="post">
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Your Email">
                    <input type="text" placeholder="Your Subject">
                    <textarea name="email-message" placeholder="Your Message" cols="40" rows="5"></textarea>
                    <input type="submit" value="Submit Message">
                </form>
            </div>
            <div class="contact-row">
                <h4>Contact us</h4>
                <h2>Let's Get In Touch</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima maxime voluptatem dolorem eos. Quaerat aspernatur odio consectetur quasi, architecto nostrum ut nemo, illum voluptatum non modi accusantium alias ullam inventore!</p>
                <div class="icon-container">
                    <div class="icon-col">
                        <span class="fa fa-location"></span>
                        <icon-body>
                            <h2>Office location</h2>
                            <p>Ji, Ryokuta15</p>
                        </icon-body>
                    </div>
                    <div class="icon-col">
                        <span class="fa fa-phone"></span>
                        <icon-body>
                            <h2>Emergency call</h2>
                            <p>(+254) 712 345 678</p>
                        </icon-body>
                    </div>
                </div>
                <hr>
                <h3>Follow us on social media</h3>
                <div class="socials">
                    <a href="#" class="social"><span class="fa-brands fa-instagram"></span> Instagram</a>
                    <a href="#" class="social"><span class="fa-brands fa-twitter"></span> X</a>
                    <a href="#" class="social"><span class="fa-brands fa-linkedin"></span> Linked In</a>
                    <a href="#" class="social"><span class="fa-brands fa-youtube"></span> Youtube</a>
                </div>
            </div>
        </div>
    </section>
    <section class="cont">
        <div class="cont-bg">
            <div class="container">
                <div class="cont-stat">
                    <h2>$1500K</h2>
                    <p>Donation</p>
                </div>
                <div class="cont-stat">
                    <h2>400+</h2>
                    <p>Volunteers</p>
                </div>
                <div class="cont-stat">
                    <h2>7500+</h2>
                    <p>People rescued</p>
                </div>
                <div class="cont-stat">
                    <h2>37k</h2>
                    <p>Countries</p>
                </div>
            </div>
        </div>
    </section>
    <section class="volunteer">
        <div class="volunteer-cont">
            <h1>Become a Volunteer</h1>
            <p>Join us for a better life and beautiful future</p>
            <button>Join us now</button>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-cont">
            <div class="footer-col">
                <div class="logo">
                    <h2><span>CH</span>support</h2>
                    <p>Changing the lives of orphans</p>
                </div>
                <p>20th street Logishu</p>
                <p>Lancaster Kenya,</p>
                <p>P.O Box 254-154</p>
            </div>
            <div class="footer-col">
                <h2>About us</h2>
                <ul>
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">How we work</a></li>
                    <li><a href="#">Financials</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h2>Your help</h2>
                <ul>
                    <li><a href="#">Leave a legacy</a></li>
                    <li><a href="#">Monthly Giving</a></li>
                    <li><a href="#">One-time donation</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h2>Our impact</h2>
                <ul>
                    <li><a href="">Child protection</a></li>
                    <li><a href="">Clean water</a></li>
                    <li><a href="">Education</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h2>Follow us</h2>
                <ul>
                    <li><a href="#" class="fa-brands fa-instagram"></a></li>
                    <li><a href="#" class="fa-brands fa-twitter"></a></li>
                    <li><a href="#" class="fa-brands fa-youtube"></a></li>
                    <li><a href="#" class="fa-brands fa-facebook"></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="copyright">
            <p>&copy; 2024 CHsupport. All rights reserved</p>
            <p><strong>Designed By:</strong>  Glocode developers</p>
        </div>
    </footer>
</body>
</html>